* {
  letter-spacing: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
a {
  transition:
    color 0.2s,
    background 0.2s;
}
button,
a,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}
button {
  font-family: inherit;
}
.container {
  width: min(1280px, calc(100% - 80px));
  margin-inline: auto;
}
